.hero {
    background-position: bottom;
    height: 110px;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 15px;
}
.page-title {
    color: #fce138;
    display: inline-block;
    padding: 0 80px 15px 80px;
    border-bottom: 4px solid;
    font-weight: normal;
    font-size: 42px;
    font-style: italic;
}
.secondary-content {
    width: 80%;
    margin: 0;
    padding: 0px 100px 20px 100px;
}